<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">


</head>

<body>
<script src="../static/layui/layui.js"></script>
<h1>主页</h1>


<form action="downloadFile" method="post">
    数据源：<select id="dataSourceSelect" name="dataSource">
    <option th:each="p : ${dataSources}"
            th:text="${p.name}"
            th:value="${p.value}"/>
</select><br/>
    用户: <input type="text" name="owner"><br/>


    对象类型: <input type="text" name="objectType"><br/>
    对象名: <input type="text" name="objectName"><br/>
    <button class="layui-btn" type="submit" name="buttonAction" value="downloadFile">下载源码</button>
    <div class="layui-btn-container">
        <div class="layui-btn">默认按钮</div>
    </div>
</form>

<form action="downloadCompareFile" method="post">
    本地数据源：<select id="dataSourceSelect" name="dataSource">
    <option th:each="p : ${dataSources}"
            th:text="${p.name}"
            th:value="${p.value}"/>
</select><br/>
    远程数据源：<select id="dataSourceSelect" name="remoteDataSource">
    <option th:each="p : ${dataSources}"
            th:text="${p.name}"
            th:value="${p.value}"/>
</select><br/>
    用户: <input type="text" name="owner"><br/>
    对象类型: <input type="text" name="objectType"><br/>
    对象名: <input type="text" name="objectName"><br/>
    <button type="submit" name="buttonAction" value="downloadCompareFile">下载源码</button>

</form>


</body>
</html>